@page "/"

<PageTitle>Tanglewood stuff.</PageTitle>

<div class="tw-page">
    <AuthorizeView>
        <NotAuthorized>
            <h1>Future Site of something. test</h1>
        </NotAuthorized>
        <Authorized>
          hello
        </Authorized>
    </AuthorizeView>
</div>