/* Fix height and enable scrolling */
.grid {
    height: 25rem;
    overflow-y: auto;
}

    .grid ::deep table {
        min-width: 100%;
    }

/* Sticky header while scrolling */
::deep thead {
    position: sticky;
    top: 0;
    background-color: #d8d8d8;
    outline: 1px solid gray;
    z-index: 1;
}

/* For virtualized grids, it's essential that all rows have the same known height */
::deep tr {
    height: 15px;
    border-bottom: 0.5px solid silver;
}

::deep tbody td {
    white-space: nowrap;
    overflow: hidden;
    max-width: 0;
    text-overflow: ellipsis;
}

/* Ensure all the flags are the same size, and centered */
/*.flag {
    width: 2rem;
    height: 1.5rem;
    margin: auto;
}*/

/* Assign default width to country name column */
/*::deep thead .country-name {
    width: 15rem;
}*/

/* Stop country name text from wrapping, and truncate with ellipsis */
/*::deep tbody .country-name {
    white-space: nowrap;
    overflow: hidden;
    max-width: 0;
    text-overflow: ellipsis;
}*/

/* Stop the last page from collapsing to the number of rows on it */
/*::deep tr {
    height: 1.8rem;
}*/

    /* Subtle stripe effect */
    /*::deep tr:nth-child(even) {
        background: rgba(255,255,255,0.4);
    }*/

/* Magnifying glass */
/*::deep .country-name .col-options-button {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"> <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" /> </svg>');
}*/

/* Corporate Styles */
/*::deep .quickgrid[theme=corporate] {
    font-family: 'Comic Sans MS', 'Times New Roman', serif;
    color: red;
}

    ::deep .quickgrid[theme=corporate] .col-title {
        gap: 0.4rem;*/ /* Separate the sort indicator from title text */
        /*font-weight: bold;
        text-transform: uppercase;
    }

    ::deep .quickgrid[theme=corporate] .sort-indicator {
        color: blue;
    }

    ::deep .quickgrid[theme=corporate] button.col-title:hover, ::deep .quickgrid[theme=corporate] .col-options-button:hover {
        background-color: hotpink;
    }

    ::deep .quickgrid[theme=corporate] button.col-title:active, ::deep .quickgrid[theme=corporate] .col-options-button:active {
        background-color: yellow;
    }*/