@namespace TanglewoodCandleCo.Wasm.Client.Components
@typeparam T

<div>
    <input class="form-control" style="max-width:600px" placeholder="Search..."
           @bind="searchItem" />

    <button class="form-control" style="max-width:300px"
            @onclick=OnSearchClicked>
        Search
    </button>
</div>