@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <Search />
    </div>

    <main id="page-content-wrapper">
        <NavMenu />
        <div class="ml-2">
            @Body
        </div>
    </main>
</div>