@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
       @*  <Search /> *@
        <MainMenu />
    </div>

    <main>
        <NavMenu />
        <div class="ml-2">            
            @Body
        </div>
    </main>
</div>
