@inject AuthenticationStateProvider auth
<div>
    <Sidebar @ref="sidebar" Class="custom-sidbar-item"
             ImageSrc="tw_favicon.png" 
             Title="Tanglewood Candles"
             DataProvider="SidebarDataProvider" />
</div>
