<nav class="navbar navbar-expand-md sticky-top col-md-12">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <div class="nav-item px-1">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </div>
            <div class="nav-item px-1">
                <NavLink class="nav-link" href="purchases" Match="NavLinkMatch.All">
                    <span aria-hidden="true"></span> Purchases
                </NavLink>
            </div>
            <div class="nav-item px-1">
                <AuthorizeView>
                    <Authorized>
                        <strong>Hello, @(context.User.FindFirst("fullname").Value)!</strong>
                        <NavLink class="nav-link" href="/bff/logout">
                            <span aria-hidden="true"></span> Logout
                        </NavLink>
                    </Authorized>
                    <NotAuthorized>
                        <NavLink class="nav-link" href="/bff/login">
                            <span aria-hidden="true"></span> Log in
                        </NavLink>
                    </NotAuthorized>
                </AuthorizeView>
            </div>

        </ul>
    </div>

</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
