@if (AccountTypeVm == null)
{
    <TwSpinner LoadingName="AccountType " />
}
else
{
    <section class="container-fluid">
        <EditForm Model="AccountTypeVm" OnValidSubmit="Save" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <p>
                <label class="tw-label" for="name">Name</label>
                <InputText id="name" class="form-control" @bind-Value="AccountTypeVm.Name" placeholder="Enter AccountType ..." />
                <ValidationMessage For="@(() => AccountTypeVm.Name)" class="text-danger" />

                <br />
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" @bind="@AccountTypeVm.IsActive" id="isActive">
                    <label class="form-check-label" for="isActive">Is Active?</label>
                </div>
            </p>
            <hr />
            <Button @ref="saveBtn" Type="ButtonType.Submit" Color="ButtonColor.Success" Size="Size.Small">
                <Icon Name="IconName.Save2" /> Save
            </Button>
        </EditForm>
    </section>
}

<Toasts class="p-3" Messages="messages" StackLength="3" Placement="ToastsPlacement.TopRight" />
